.text-blue{
    background-color: rgb(83, 171, 248);
    color: whitesmoke;
    height: 52px;
}

h5{
    margin: 0px;
    padding-top: 16px;
    font-size: 16px;
    font-family: ui-monospace;
    padding-left: 12px;
}

.input-icons i {
    position: absolute;
}
 
.input-icons {
    width: 100%;
    margin-bottom: 10px;
}
 
.icon {
    padding: 10px;
    min-width: 40px;
}
 
.input-field {
    width: 100%;
    padding: 10px;
    text-align: center;
}

.input_div {
    display: flex;
    flex-direction: row; /* Default flex direction */
  }

@media (max-width: 768px) {
    .input_div {
        flex-direction: column; /* Change to column layout on mobile */
    margin: 0; /* Reset margins */
    padding: 0;/* Adjust flex properties for mobile view */
     
    }
  }


  button.text1 {
    background: rgb(157, 225, 247);
    border: none;
    color: rgb(83, 171, 248);;
    height: 38px;
    width: 76px;
    font-weight: 500;
    border-radius: 4px;
}

button.text2 {
    background: rgb(83, 171, 248);
    border: none;
    color: white;
    height: 38px;
    width: 76px;
    border-radius: 4px;
}
  

/* employee details strat */

.employee_form_input input, select {
    width: 100%;
    padding: 10px 30px;
    border: 2px solid #eceef2;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}


.employee_icon{
   /* left: 11px; */
    top: 15%;
    /* font-size: 20px; */
    color:rgb(83, 171, 248);
}

.date_icon{
    color: rgb(83, 171, 248);
    /* margin: -5px; */
    margin: -9px;
    top: 12%;
    /* font-size: 10px; */
 }
/* .mat-mdc-form-field {
    width: 100%;
    padding: 10px 30px;
    border: 2px solid #eceef2;
} */


.bottom_height{
    height: 33rem;
    display: flex;
    align-items: end;
    gap: 20px;
}


.add-emp-buttons {
    height: min-content !important;
}
.add-emp-footer {
    position: absolute;
    bottom: 20px;
    width: 100%;
}
@media (max-width: 1440px){
    .bottom_height{
        height: 39rem;
    }
}


@media (max-width: 991px){
    .bottom_height{
        height: 37rem;
    }
}

.employee_icon_select{
    top: 8px;
    margin-left: 4px;
    color: rgb(83, 171, 248);
}

    


@media (max-width: 991px){
    select{
        margin-top: 20px !important;
        
    }
    .employee_icon_select{
        top: 30px;
        margin-left: 4px;
        color: rgb(83, 171, 248);
    }
    .arrow_margin_mobile{
        margin: 20px 0;
    }
}

@media (min-width: 769px) {
    .display_mobile_none {
        flex-direction: row !important; /* Change to column for mobile views */

        /* flex-direction: row-reverse; Change to column layout on mobile */
/* Adjust flex properties for mobile view */
     
    }
  }


  .employee_form_input input,select:focus {
    border: none
  }
/* @media screen and (min-width: 769px){
    .display_mobile_none{
        display: flex !important;
    }
    }
    @media screen and (min-width: 769px){
        .display_mobile_none{
            display: flex !important;
        }
        } */
/* employee details  end */